<!doctype html>
<html>
<%- include('./partials/head.ejs') %>

<body class="font-[Montserrat] bg-[#89CFF3] h-screen">


  <div class="flex">
    <div class=" p-4">
      <%- include('./partials/navbarused.ejs') %>
    </div>
    <div class="ml-[18rem] p-4 mt-32">

      <div class="flex flex-wrap justify-center">

        <div>
            <img src="<%- blog.coverImageURL %>" width="300px"> 
        </div>
        <div>
            Blog Title : <%- blog.title %>
        </div>
            
         <div>
           <p> Body: <%- blog.body %> </p> 
         </div> 
         <br>
      
         <% if (!user) { %> 
          <br>
            <p>  <%- comments.length %> comments </p>
            <br>
            <% } else { %>
              
              <p> Add a comment</p>
              <form action="/comment/<%= blog._id %>" method="post">
                <div class="mb-3">
                  <input
                    type="text"
                    class="rounded-md"
                    name="content"
                    class="form-control"
                    placeholder="Enter your comment"
                  />
                  <button class=" bg-slate-400  p-2 rounded-xl" type="submit">Add</button>
                </div>
              </form>
          
            <% } %>

     
        <div class="mt-3">
          <% comments.forEach(comment => { %>
          <div>
            <img src="<%= comment.createdBy.profileImageURL %>" width="50px" />
            <%= comment.createdBy.firstName %>
            <pre><%= comment.content %></pre>
          </div>
          <% }) %>
        </div>
        <a href="/goback" class="bg-blue p-2 bg-slate-500 rounded-xl"> Go to blogs. </a>
       

    </div>
</div>
  
   

   

    <%- include('./partials/script.ejs') %>
</body>

</html>
